@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .hidden-scrollbar {
        scrollbar-width: none;
    }

    .hidden-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

:root {
    --black-1a: rgba(26, 26, 26, 1);
    --blue-100: rgba(233, 235, 238, 1);
    --blue-200: rgba(77, 93, 119, 1);
    --blue-300: rgba(33, 53, 85, 1);
    --blue-400: rgba(8, 28, 60, 1);
    --gray-100: rgba(204, 204, 204, 1);
    --gray-200: rgba(128, 128, 128, 1);
    --red: rgba(179, 0, 0, 1);
    --turq-100: rgba(224, 245, 243, 1);
    --turq-200: rgba(162, 224, 220, 1);
    --turq-300: rgba(100, 204, 197, 1);
    --turq-600: rgba(8, 131, 149, 1);
    --white-f0: rgba(240, 240, 240, 1);
    --yellow-100: rgba(250, 246, 230, 1);
    --yellow-200: rgba(239, 228, 181, 1);
    --yellow-300: rgba(229, 210, 131, 1);
    --shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    --shadow-2: 0px 0px 10px 0px #00000040;
}
